<section class="mx-auto py-10 my-24" id="contact">
  <div class="max-w-7xl mx-auto p-10 flex w-full h-screen items-center">
    <div class="">
      <h5 class="text-indigo-600 uppercase tracking-wider text-sm font-bold">
        Contact Us
      </h5>
      <h3
        class="text-5xl md:text-6xl lg:text-7xl xl:text-8xl italic pt-4 pb-12"
      >
        Let's work <span class="font-extrabold not-italic">together</span>
      </h3>
      <div class="sm:grid sm:grid-cols-7 place-items-center">
        <div class="max-w-sm col-span-3" style="max-width: 200px">
          <lottie-player
            src="https://assets5.lottiefiles.com/packages/lf20_dHUtAw.json"
            background="transparent"
            speed="1"
            loop
            autoplay
          ></lottie-player>
        </div>
        <div class="py-16 text-gray-400 min-w-xl max-w-xl text-left mx-auto z-50 col-span-4 gap-6">
            <a
              class="
                block
                hover:text-indigo-600
                transition
                duration-500
                ease-in-out
                text-yellow-300
                font-thin
                text-3xl
                md:text-4xl
                py-4
              "
              href="https://calendly.com/samuelsycamore/chat"
              target="_blank"
            >
              Click here to schedule a call.
            </a>
            <p>→ We will be in touch shortly to confirm the meeting and find out more about your project and how we can help.</p>
            <p>Email: <span class="font-bold">sam@sycamore.design</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
