{% macro card(img, title, content) %}
<div class="services-card">
  <img src="../img/icons/{{ img }}" />
  <h4 class="card-title mono">
    {{ title }}
  </h4>
  <p>{{ content }}</p>
</div>
{% endmacro %}

<section class="content">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <h2 class="desc">Our Services</h2>
        <span class="title mono">
          <span>Sycamore Design</span>
          provides
        </span>
      </div>
    </div>
    <div class="row grid">
      {{
        card(
          "upload.svg",
          "Full-service development",
          "We specialize in beautiful, lightning-fast websites that are optimized for all devices. From concept to completion, we are your one-stop shop for upgrading your web presence and generating more leads."
        )
      }}

      {{
        card(
          "paper.svg",
          "Technical writing",
          "Beginner-friendly software docs are the best possible advocate for your product. We take an empathy-driven approach to software documentation and tutorials in order to convert new users into enthusiastic fans."
        )
      }}

      {{
        card(
          "speaker.svg",
          "Marketing and copywriting",
          "Your website has mere seconds to convince a new visitor to stick around. Does your site make the best first impression possible? We captivate your audience by centering their satisfaction in everything we create."
        )
      }}

      {{
        card(
          "click.svg",
          "Search engine optimization",
          "SEO doesn't have to feel like sorcery. We aim to demystify the process of keyword research and technical SEO for our clients. Need to go deeper? Ask us about content-driven SEO."
        )
      }}
    </div>
  </div>
</section>
